<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.project.mapper.photoMapper">
	<select id="list" resultType="photoVo" parameterType="photoVo">
		select pidx
			, pTitle
			, pDate
			, uidx
			, pDelYn
			, pHashTag
			, pHit
		FROM phototable
	</select>
	
	<select id="selectByPidx" resultType="photoVo" parameterType="int">
		select pidx
			, pTitle
			, pDate
			, uidx
			, pDelYn
			, pHashTag
			, pHit
		FROM phototable
		WHERE pidx = #{pidx}
	</select>
	
	<update id="updateByPidx" parameterType="photoVo">
		UPDATE phototable
			SET pTitle = #{pTtitle}
			, pHashTag = #{pHashTag}
			WHERE pidx = #{pidx}
	</update>
	
	<delete id="deleteByPidx" parameterType="int">
		DELETE
			FROM phototable
		WHERE pidx = #{pidx}
	</delete>
	
	<insert id="insert" parameterType="photoVo"> 	
		
		INSERT INTO phototable(
			pidx
			, pTitle
			, pDate
			, uidx
			, pHashTag
			, pHit
		) VALUES(
			  1
			, #{pTitle}
			, NOW()
			, 1
			, #{pHashTag}
			, 0
		)
	</insert>
	
		<!-- 이미지 등록 -->
	<insert id="imageEnroll" parameterType="AttachImageVo">
  		<selectKey resultType="int" keyProperty="pidx" order="AFTER">
  		
  			SELECT LAST_INSERT_ID()
  		
  		</selectKey>
		
		insert into imagetable(
			pidx, fileName, uploadPath, uuid
			) values (
			#{pidx}, #{fileName}, #{uploadPath}, #{uuid}
			)
	</insert>
	
	<select id="imageList" resultType="AttachImageVo" parameterType="AttachImageVo">
	
		select
			pidx,
			fileName,
			uploadPath,
			uuid
		FROM imagetable
	</select>
	
	
</mapper>