<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.project.mapper.photoMapper">
	<select id="list" resultType="photoVo" parameterType="photoVo">
		select pidx
			, pTitle
			, pDate
			, uidx
			, pLikes
			, pDelYn
			, pHashTag
			, pHit
		FROM PHOTOTABLE
	</select>
	
	<select id="selectByPidx" resultType="photoVo" parameterType="int">
		select pidx
			, pTitle
			, pDate
			, uidx
			, pLikes
			, pDelYn
			, pHashTag
			, pHit
		FROM PHOTOTABLE
		WHERE pidx = #{pidx}
	</select>
	
	<update id="updateByPidx" parameterType="photoVo">
		UPDATE PHOTOTABLE
			SET pTitle = #{pTtitle}
			, pFile = #{pFile}
			, pHashTag = #{pHashTag}
			WHERE pidx = #{pidx}
	</update>
	
	<delete id="deleteByPidx" parameterType="int">
		DELETE
			FROM PHOTOTABLE
		WHERE pidx = #{pidx}
	</delete>
	
	<insert id="insert" parameterType="photoVo"> 	
		
		INSERT INTO phototable(
			pidx
			, pTitle
			, pDate
			, uidx
			, pLikes
			, pHashTag
			, pHit
		) VALUES(
			PPIDX_SEQ.NEXTVAL
			, #{pTitle}
			, sysdate
			, 1
			, 0
			, #{pHashTag}
			, 0
		)
	</insert>
	
		<!-- 이미지 등록 -->
	<insert id="imageEnroll" parameterType="AttachImageVo">
		<selectKey resultType="int" keyProperty="pidx" order="BEFORE">
			SELECT MAX(pidx)
				FROM phototable
		</selectKey>
		
		insert into imagetable(
			pidx, fileName, uploadPath, uuid
			) values (
			#{pidx}, #{fileName}, #{uploadPath}, #{uuid}
			)
	</insert>
	
	<select id="imageList" resultType="AttachImageVo" parameterType="AttachImageVo">
	
		select
			pidx, 
			fileName, 
			uploadPath, 
			uuid
		FROM imagetable
	</select>
	
	
</mapper>