<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.project.mapper.togetherMapper">

	<insert id="togetherInsert" parameterType="togetherVo">
		INSERT INTO togethertable(
			 ttitle
			, tcontent
			, tdate
			, thit
			, thashtag
			, tfilename
			, uidx
			, writer
		)VALUES(
			 #{tTitle}
			, #{tContent}
			, now()
			, 0
			, '먹방'
			, 0
			, #{uidx}
			, #{writer}
		)
	</insert>
	
	<select id="togetherlist" resultType="togetherVo">
	
    	SELECT *
    	FROM togethertable
    	<include refid="search"></include>
    	order by tidx desc
    		
    </select>
    
    <sql id="search">
		<if test="searchType == 'title'">
			where ttitle LIKE CONCAT ('%', #{keyword},'%')
		</if>
		<if test="searchType == 'content'">
			where tcontent LIKE CONCAT ('%', #{keyword} ,'%')
		</if>
	</sql>
	
	<select id="selectByTidx" parameterType="int" resultType="togetherVo">
    	SELECT tidx
    		 , ttitle
    		 , tcontent
    		 , tdate
    		 , thit
    		 , uidx
    		 , writer
    		FROM togethertable
    		WHERE tidx = #{tidx}	<!-- DAO에서 파라미터로 넘긴 변수명 -->
    </select>
    <update id="updateByTidx" parameterType="togetherVo" >
    	UPDATE togethertable
    	   SET ttitle = #{tTitle}
    		 , tcontent= #{tContent}
    	WHERE tidx = #{tidx}
    </update>
    <delete id="deleteByTidx" parameterType="int">
    	DELETE
    	FROM  togethertable
    	WHERE tidx = #{tidx}
    </delete>

    
    <update id="updatereviewcnt">
		update togethertable
		set 
		thit = thit + 1 
		where tidx = #{tidx}
	</update>
    
    <select id="treplyList" parameterType="int" resultType="treplyVo">
		SELECT *
		FROM togetherreplytable WHERE tidx=#{tidx} and trdelyn = 'N'
	</select>

	<insert id="tinsertReply" parameterType="treplyVo">
		INSERT INTO togetherreplytable(
		 trContent
		, tredate
		, writer
		, tidx
		, trdelyn
		, uidx
		)VALUES(
	    #{trContent}
		, now()
		, #{writer}
		, #{tidx}
		, 'N'
		, #{uidx}
		)
	</insert>
	
	<update id="tupdateReply" parameterType="treplyVo">
		UPDATE togetherreplytable
		SET 
		trContent = #{trContent}
		WHERE tridx = #{tridx}
	</update>
	
	<update id="tdeleteReply" parameterType="int">
		update togetherreplytable
		SET
		trdelyn = 'Y' WHERE tridx = #{tridx}
	</update>
    

</mapper>