<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="edu.project.vo.UserVo" alias="userVo"/>
		<typeAlias type="edu.project.vo.BoardVo" alias="boardVo"/>
		<typeAlias type="edu.project.vo.PhotoVo" alias="photoVo"/>
		<typeAlias type="edu.project.vo.ShortVo" alias="shortVo"/>
		<typeAlias type="edu.project.vo.TogetherVo" alias="togetherVo"/>
		<typeAlias type="edu.project.vo.SearchCriteria" alias="scri"/>
		<typeAlias type="edu.project.vo.SearchVo" alias="searchVo" />
		<typeAlias type="edu.project.vo.Criteria" alias="cri" />
		<typeAlias type="edu.project.vo.ReplyVo" alias="replyVo" />
		<typeAlias type="edu.project.vo.AttachImageVo" alias="attachImageVo" />
		
    </typeAliases>
    
    
 
   
</configuration>



	
   
