* {
  margin: 0;
  font-family: "SUIT-Regular";
  padding: 0;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

li {
  list-style: none;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgb(255, 255, 255);
}

.item img {
  margin-top: 10px;
  width: 170px;
}

.first_section {
  width: 100%;
}

p {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

.header {
  display: flex;
  /*flex-direction: column;*/
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  background: unset;
}

.left_header {
  display: flex;
  width: 400px;
  position: relative;
  align-items: center;
  margin-right: 130px;
}

.left_header .item:nth-child(1) {
  margin-right: 23px;
}

.left_header .item:nth-child(2) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 19px 0px 16px;
  margin: 0px 13px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 18px;
}

.left_header .item:nth-child(3) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 18px;
}

.left_header .a_tag_color {
  color: rgb(106, 106, 106);
}

.left_header a:visited {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 25px;
}

.right_header {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
}

.right_header i {
  font-size: 20px;
}

.right_header input {
  align-items: center;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(233, 233, 233);
  box-sizing: border-box;
  border-radius: 90px;
  height: 40px;
  width: 300px;
  padding: 13px 18px 13px 40px;
  text-indent: 3px;
  margin-bottom: 14px;
}

.searchBtn {
  position: absolute;
  top: 25px;
  left: 15px;
}

.right_header .item:nth-child(1) {
  margin-right: 20px;
  margin-top: 15px;
}

.right_header .login_a {
  flex-basis: 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  color: rgb(106, 106, 106);
  padding: 0 0 16px 0;
}

/* .right_header .item:nth-child(3) {
  } */

.bar {
  margin-right: 20px;
  width: 1px;
  color: black;
}

.right_header .join_a {
  color: rgb(37, 37, 37);
  flex-basis: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 0 0px 16px 0;
}

.header_write_btn {
  display: inline-block;
  background: rgb(0, 206, 124);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.header_write_btn:hover {
  background: rgb(46, 156, 46);
  transition: all 0.3s ease-in-out;
}

.second_section {
  display: flex;
  width: 100%;
}

.second_header {
  display: flex;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  height: 62px;
}

.second_header .board {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 22px 14px 19px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.second_header .trip_info {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.second_header .home {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.board_banner {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/board_banner.jpg);
  background-size: cover;
  background-position: center center;
  height: 341px;
}

.board_banner p:first-child {
  font-weight: 400;
  font-size: 22px;
  display: inline-block;
}

.board_banner p:nth-child(2) {
  font-weight: 600;
  font-size: 70px;
  display: inline-block;
}

.board_banner_text {
  position: relative;
  width: 1200px;
  margin: 0px auto;
  min-height: 341px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.board_list {
  padding-top: 65px;
  position: relative;
  width: 1200px;
  margin: 0px auto;
}

.board_list p {
  display: inline-block;
}

.board_list select {
  margin-left: 10px;
  font-weight: 350;
  font-size: 14px;
  line-height: 21px;
  color: rgb(37, 37, 37);
  padding: 8px 33px 8px 10px;
  border: unset;
  background-color: unset;
}

.board_header {
  display: flex;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
}

.board_header button {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(37, 37, 37);
  padding: 10px 19px;
  color: rgb(37, 37, 37);
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  margin-left: 20px;
}

.board_contents {
  padding-top: 30px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.board_contents_one {
  width: 46.9%;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  padding: 20px 0px;
}

.board_contents_one {
  border-bottom: 1px solid silver;
}

.board_contents_one p {
  color: rgb(106, 106, 106);
}

.flex_title .view_board {
  color: rgb(0, 236, 124);
}

.flex_title {
  display: flex;
  justify-content: space-between;
}

.board_contents_one .title {
  margin-right: 6px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  color: rgb(37, 37, 37);
  font-weight: 700;
  font-size: 16px;
}

.board_contents_one .contents {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-line-clamp: 2;
  margin-bottom: 20px;
}

.hashtag {
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
}
.hashtag a {
  padding: 0 5px;
  text-decoration-line: none;
  background-color: #eeeeee;
  color: #767676;
  margin-right: 5px;
}

.info_flex {
  display: flex;
  padding-top: 20px;
}

.view,
.comments {
  margin-left: 10px;
}

.board_contents_two {
  width: 546px;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  padding: 20px 0px;
}

.board_contents_two p {
  color: rgb(106, 106, 106);
}

.board_contents_two .title {
  margin-right: 6px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  color: rgb(37, 37, 37);
  font-weight: 700;
  font-size: 16px;
}

.board_contents_two .contents {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-line-clamp: 2;
  margin-bottom: 20px;
}

.board_contents_two .hashtag {
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
}

.board_contents_two .hashtag a {
  padding: 0 5px;
  text-decoration-line: none;
  background-color: #eeeeee;
  color: #767676;
  margin-right: 5px;
}

/* .board_contents::after {
  position: absolute;
  content: "";
  background: url(img/board_line.png);
  top: 12px;
  left: 600px;
  height: calc(100% - 24px);
  width: 20px;
} */

.board_contents:first-child::before {
  left: 0px;
}

/*footer 시작*/

footer {
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
}

.footer_calling {
  display: flex;
  width: 100%;
}

.phone_number {
  margin-top: 20px;
  font-size: 17px;
  line-height: 22px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

footer button {
  margin-left: 13px;
  margin-top: 8px;
  border: 1px solid rgb(233, 233, 233);
  padding: 8px 10px 9px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(106, 106, 106);
}

.consulting {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-left: 14px;
  margin-top: 20px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

.team_info {
  display: flex;
  margin-top: 10px;
}

.team_info .margin_left {
  margin-left: 20px;
}

.footer_addr {
  display: flex;
  margin-top: 10px;
}

.footer_addr .margin_left {
  margin-left: 20px;
}

.footer_terms {
  display: flex;
  margin-top: 20px;
}

.footer_terms .gray {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
  border-right: 1px solid darkgray;
  padding-right: 6px;
}

.footer_terms .margin_left {
  border-right: 1px solid darkgray;
  padding-right: 6px;
  margin-left: 8px;
}

.footer_last_text {
  margin-top: 20px;
  font-size: 15px;
  color: darkgray;
  line-height: 25px;
  padding-bottom: 15px;
}

#sns {
  width: 500px;
}

#sns ul {
  display: flex;
}

#sns li:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}

#sns a {
  padding: 25px 0px 0px 10px;
  border-radius: 25%;
}

#sns a:visited {
  color: rgb(99, 99, 99);
}

#sns a:hover {
  color: sandybrown;
}
