* {
  margin: 0;
  font-family: "SUIT-Regular";
  padding: 0;
}

li {
  list-style: none;
}

/* body {
  height: 3000px;
} */

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgb(255, 255, 255);
}

.item img {
  margin-top: 10px;
  width: 170px;
}

.first_section {
  width: 100%;
}

p {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

.header {
  display: flex;
  /*flex-direction: column;*/
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  background: unset;
}

.left_header {
  display: flex;
  width: 400px;
  position: relative;
  align-items: center;
  margin-right: 130px;
}

.left_header .item:nth-child(1) {
  margin-right: 23px;
}

.left_header .item:nth-child(2) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 19px 0px 16px;
  margin: 0px 13px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 18px;
}

.left_header .item:nth-child(3) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 18px;
}

.left_header .a_tag_color {
  color: rgb(106, 106, 106);
}

.left_header a:visited {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 25px;
}

.right_header {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
}

.right_header i {
  font-size: 20px;
}

.right_header input {
  align-items: center;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(233, 233, 233);
  box-sizing: border-box;
  border-radius: 90px;
  height: 40px;
  width: 300px;
  padding: 13px 18px 13px 40px;
  text-indent: 3px;
  margin-bottom: 14px;
}

.searchBtn {
  position: absolute;
  top: 25px;
  left: 15px;
}

.right_header .item:nth-child(1) {
  margin-right: 15px;
  margin-top: 15px;
}

.right_header .login_a {
  margin-left : 20px;
  flex-basis: 12%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  color: rgb(106, 106, 106);
  padding: 0 0 16px 0;
}

/* .right_header .item:nth-child(3) {
} */

.bar {
  margin-right: 20px;
  width: 1px;
  color: black;
}

.right_header .join_a {
  color: rgb(37, 37, 37);
  flex-basis: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 0 0px 16px 0;
}

.header_write_btn {
  display: inline-block;
  background: rgb(0, 206, 124);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.header_write_btn:hover {
  background: rgb(46, 156, 46);
  transition: all 0.3s ease-in-out;
}

.second_section {
  display: flex;
  width: 100%;
}

.second_header {
  display: flex;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  height: 62px;
}

.second_header .home {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 22px 14px 19px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.second_header .trip_info {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.second_header .board {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper:nth-child(1) {
  background-color: yellow;
}

.swiper-slide img {
  width: 600px;
  height: 354px;
  object-fit: cover;
  position: absolute;
  bottom: 20px;
  right: 70.7px;
}

main {
  width: 100%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.slider_section {
  height: 450px;
  margin-top: 145px;
}

.swiper.mySwiper {
  width: 1200px;
}

.swiper-wrapper .swiper-slide p:nth-child(1) {
  display: block;
  font-size: 48px;
  line-height: 1em;
  font-weight: 800;
  margin-bottom: 15px;
  justify-content: flex-start;
}

.swiper-wrapper .swiper-slide p:nth-child(2) {
  display: block;
  font-size: 48px;
  line-height: 1em;
  font-weight: 800;
  margin-bottom: 25px;
  text-align: start;
}

.swiper-wrapper .swiper-slide p:nth-child(3) {
  display: block;
  font-size: 26px;
  font-weight: 400;
  line-height: 1em;
  text-align: start;
}

.swiper-slide .first_slide {
  position: absolute;
  bottom: 214px;
  left: 80px;
  color: rgb(0, 102, 255);
}

.swiper-slide .second_slide {
  position: absolute;
  bottom: 200px;
  left: 80px;
  color: rgb(107, 118, 255);
}

.swiper-slide .third_slide {
  position: absolute;
  bottom: 200px;
  left: 80px;
  color: black;
}

.swiper-slide .fourth_slide {
  position: absolute;
  bottom: 200px;
  left: 100px;
  color: black;
}

.swiper-slide {
  background-color: rgb(241, 239, 234);
}
.slider_section {
  background-color: rgb(241, 239, 234);
}

.swiper-slide button {
  position: absolute;
  left: 80px;
  bottom: 110px;
  padding: 13px 36px;
  font-size: 22px;
  font-weight: 400;
  border-radius: 25px;
  background: rgb(78, 63, 255);
  color: rgb(255, 255, 255);
}

.swiper-slide .slide04_btn {
  position: absolute;
  left: 80px;
  bottom: 110px;
  padding: 13px 36px;
  font-size: 22px;
  font-weight: 400;
  border-radius: 25px;
  background: rgb(236, 232, 225);
  color: rgb(121, 103, 66);
}

.photo_section {
  width: 1200px;
  height: 500px;
  padding-top: 65px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.photo_header_section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.photo_section p {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}

.photo_section .photo_more {
  width: 56px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: rgb(106, 106, 106);
  position: absolute;
  right: 10px;
}

.photo_zone {
  margin-top: 20px;
  width: 1200px;
  display: flex;
}

.photo_zone div {
  width: 300px;
}

.photo_zone div img {
  width: 282px;
  height: 282px;
  border-radius: 7px;
  opacity: 1;
  transition: all 0.2s;
}

.photo_zone div img:hover {
  opacity: 1;
  transform: scale(1.04, 1.04);
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery_text {
  margin-top: 10px;
}

.gallery_text_green {
  color: rgb(0, 206, 124);
  font-weight: 700;
  margin-right: 4px;
}

.photo_title {
  color: black;
  font-weight: 700;
}

.user_name {
  font-weight: 700;
  color: gray;
}

.board_section {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.board_section_header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.board_section .board_more {
  width: 56px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: rgb(106, 106, 106);
  position: absolute;
  right: 10px;
}

.board_section p {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}

.board_zone {
  width: 1200px;
  display: flex;
  height: 263.3px;
  margin-top: 40px;
}

.board_contents {
  display: flex;
  width: 583px;
  cursor: pointer;
  background: rgb(246, 246, 246);
  transition: box-shadow 0.3s;
}

.board_contents:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.board_contents_view {
  padding: 20px;
  width: 546px;
  height: 263px;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  margin: 4px 0px 0px;
  display: flex;
  flex-direction: column;
}

.board_contents_view .board_header {
  width: 100%;
}

.board_contents_view .title {
  font-size: 16px;
  color: rgb(37, 37, 37);
  font-weight: 700;
  width: 500px;
}

.contents {
  margin-top: 20px;
}

.board_user_name {
  margin-top: 10px;
}

.board_reply {
  border: 1px solid rgb(233, 233, 233);
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
  height: 55px;
  width: 505px;
  background: rgb(255, 255, 255);
}

.reply_count {
  margin-top: 10px;
  color: rgb(154, 154, 154);
  font-size: 13px;
}

.board_contents:nth-child(2) {
  margin-left: 17px;
}

.ad_slide {
  padding-top: 55px;
  width: 1185px;
  margin: 0 auto;
  height: 220px;
}

.ad_slide .pager {
  position: absolute;
  bottom: 16px;
  left: 50%;
  z-index: 10;
  transform: translateX(
    -50%
  ); /*! super important/*
  /*todo : margin값을 이용하지 않고 부모기준으로 이동하지도 않는 translate.*/
}

.ad_slide .pager span {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 5px;
  cursor: pointer;
}

.ad_slide .pager span.swiper-pagination-bullet-active {
  background: #fff;
}

.ad_slide .swiper-slide-active .text {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.4s;
}

.slide_hr {
  position: relative;
  top: 50px;
  background-color: #fff;
  width: 1180px;
  margin: 0 auto;
}

.editor_pick {
  padding-top: 90px;
  width: 1200px;
  margin: 0 auto;
}

.editor_pick p {
  font-weight: bold;
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.editor_span {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  background-color: rgb(255, 255, 255);
  border: 0.7px solid rgb(90, 132, 241);
  color: rgb(83, 131, 255);
  border-radius: 3px;
  height: fit-content;
  padding: 1px 7px;
  margin: 2px 3px;
  user-select: none;
  -webkit-user-drag: none;
}

.editor_first_header {
  display: flex;
  width: 1200px;
}

.editor_header {
  display: flex;
  width: 1200px;
}

.editor_header p {
  font-weight: 500;
  font-size: 16px;
  height: 16px;
  color: rgb(106, 106, 106);
  margin-top: 10px;
}

main #press {
  position: relative;
  top: 50px;
  background: rgb(241, 239, 234);
  border-radius: 15px;
  padding: 50px 0;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}

#press h3 {
  margin: 0 0 50px 120px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

#press h3 a:hover {
  text-decoration: underline;
  color: lightcoral;
  transition: all 0.5s;
}

#press h3 a:visited {
  color: black;
}

#press .inner {
  padding: 20px 50px;
  overflow: hidden;
}

#press .slider {
  display: flex;
}

#press .item {
  flex-shrink: 0;
}

#press .box {
  background: #fff;
}

#press .box img {
  width: 100%;
}

#press .box h4 {
  padding: 10px 15px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#press .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px #aaa;
}

#press .box h4 + p {
  padding: 0 15px 10px;
  font-size: 10px;
}
#press .more {
  display: block;
  max-width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #222;
  margin: 0 auto;
  border: 1px solid #222;
}

#press .more:hover {
  background: #222;
  color: #fff;
}

#press .pager {
  padding-top: 40px;
  text-align: center;
}

#press .pager span {
  display: inline-block;
  margin: 0 5px;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
}

#press .pager span.active {
  opacity: 1;
}

#press img {
  width: 192px;
  height: 192px;
}

.hr_footer {
  position: relative;
  top: 100px;
  background-color: #fff;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin: 0 auto;
}

footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 165px;
}

.footer_calling {
  display: flex;
  width: 100%;
}

.phone_number {
  margin-top: 20px;
  font-size: 17px;
  line-height: 22px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

footer button {
  margin-left: 13px;
  margin-top: 8px;
  border: 1px solid rgb(233, 233, 233);
  padding: 8px 10px 9px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(106, 106, 106);
}

.consulting {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-left: 14px;
  margin-top: 20px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

.team_info {
  display: flex;
  margin-top: 10px;
}

.team_info .margin_left {
  margin-left: 20px;
}

.footer_addr {
  display: flex;
  margin-top: 10px;
}

.footer_addr .margin_left {
  margin-left: 20px;
}

.footer_terms {
  display: flex;
  margin-top: 20px;
}

.footer_terms .gray {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
  border-right: 1px solid darkgray;
  padding-right: 6px;
}

.footer_terms .margin_left {
  border-right: 1px solid darkgray;
  padding-right: 6px;
  margin-left: 8px;
}

.footer_last_text {
  margin-top: 20px;
  font-size: 15px;
  color: darkgray;
  line-height: 25px;
  padding-bottom: 15px;
}

#sns {
  width: 500px;
}

#sns ul {
  display: flex;
}

#sns li:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}

#sns a {
  padding: 25px 0px 0px 10px;
  border-radius: 25%;
}

#sns a:visited {
  color: rgb(99, 99, 99);
}

#sns a:hover {
  color: sandybrown;
}
