@charset "utf-8";

@font-face {
    font-family: "SUIT-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  * {
    margin: 0;
    font-family: "SUIT-Regular";
    padding: 0;
  }  

main{
  width: 1200px;
  margin: 0px auto;
  user-select: none;
}

form{
  padding: 40px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form h2{
  font-size: 28px;
  font-weight: 600;
}

.layout{
  width: 100%;
  max-width: 420px;
}

.box {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
  padding: 12px;
  width: 100%;
  
}
.box input, select{
  font-size: 13px;
  line-height: 20px;
  padding: 16px 20px;
  margin-bottom: 16px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
}
.mandat{
  margin: 35px 0 10px;
  font-size: 15px;
  font-weight: 600;
  
}
.agreement{

  font-size: 15px;
  color: rgb(154, 154, 154);
  margin: 40px 20px;
  width: 100%;
}

.agreement hr{
  margin: 25px 0;
}

.agreement label{
  display: inline-block;

}
.details label{
  margin-bottom: 15px;
}

button{
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: white;
  background-color: rgb(0, 206, 124);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin: 0 20px;
}

