@charset "utf-8";

* {
  margin: 0;
  font-family: "SUIT-Regular";
  padding: 0;
}

.left_header .a_tag_color {
  color: rgb(106, 106, 106);
}	

p {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

img {
  border-style: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  vertical-align: top;
  object-fit: cover;
  border: 0;
  font-style: normal;
}

button {
  appearance: button;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
  user-select: none;
  -webkit-user-drag: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  background: unset;
  color: #000;
}

html {
  overflow-x: hidden;
  --vh: 10.35px;
}

body {
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  font-weight: 400;
  font-size: 14px;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*header*/

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgb(255, 255, 255);
}

.item img {
  margin-top: 10px;
  width: 170px;
}

.first_section {
  width: 100%;
}

p {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  background: unset;
}

.left_header {
  display: flex;
  width: 400px;
  position: relative;
  align-items: center;
  margin-right: 130px;
}

.left_header .item:nth-child(1) {
  margin-right: 23px;
}

.left_header .item:nth-child(2) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 19px 0px 16px;
  margin: 0px 13px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 18px;
}

.left_header .item:nth-child(3) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 18px;
}

.left_header a:visited {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 25px;
}

.right_header {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
}

.right_header i {
  font-size: 20px;
}

.right_header input {
  align-items: center;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(233, 233, 233);
  box-sizing: border-box;
  border-radius: 90px;
  height: 40px;
  width: 300px;
  padding: 13px 18px 13px 40px;
  text-indent: 3px;
  margin-bottom: 14px;
}

.searchBtn {
  position: absolute;
  top: 25px;
  left: 15px;
}

.right_header .item:nth-child(1) {
  margin-right: 20px;
  margin-top: 15px;
}

.right_header .login_a {
  flex-basis: 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  color: rgb(106, 106, 106);
  padding: 0 0 16px 0;
}

/* .right_header .item:nth-child(3) {
  } */

.bar {
  margin-right: 20px;
  width: 1px;
  color: black;
}

.right_header .join_a {
  color: rgb(37, 37, 37);
  flex-basis: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 0 0px 16px 0;
}

.left_header .a_tag_color {
  color: rgb(106, 106, 106);
}

.header_write_btn {
  display: inline-block;
  background: rgb(0, 206, 124);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.header_write_btn:hover {
  background: rgb(46, 156, 46);
  transition: all 0.3s ease-in-out;
}

.second_section {
  display: flex;
  width: 100%;
}

.second_header {
  display: flex;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  height: 62px;
}

.second_header .home {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 22px 14px 19px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.second_header .trip_info {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.second_header .board {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

/*header 종료*/

.joinFrame {
  width: 723px;
  margin: 0px auto;
}

.join {
  padding: 70px 0 0;
  margin: 264px 0 406px;
  height: 681px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
  font-style: normal;
}

.join p {
  display: inline-block;
  color: rgb(25, 25, 25);
  font-size: 28px;
}

.join .text_desc {
  font-size: 18px;
  margin: 5px;
  font-weight: 500;
  color: rgb(106, 106, 106);
}

.btn_join {
  margin: 15px 0px 0px;
  width: 430px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(233, 233, 233);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.join .join_kakao {
  background-color: rgb(254, 229, 0);
  border: unset;
  margin: 55px 0px 0px;
}

.join .ask {
  margin: 22px 0px 0px;
  width: 430px;
  display: flex;
  justify-content: space-evenly;
}

.join .ask p {
  font-size: 18px;
  color: rgb(106, 106, 106);
}

.join .ask button {
  background-color: rgb(255, 255, 255);
}

.join .ask button p {
  font-weight: bold;
  text-decoration: underline;
}

.join .logo {
  width: 127px;
  margin: 25px 0px;
  height: 157.05px;
}

/*footer 시작*/

footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 165px;
}

.footer_calling {
  display: flex;
  width: 100%;
}

.phone_number {
  margin-top: 20px;
  font-size: 17px;
  line-height: 22px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

footer button {
  margin-left: 13px;
  margin-top: 8px;
  border: 1px solid rgb(233, 233, 233);
  padding: 8px 10px 9px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(106, 106, 106);
}

.consulting {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-left: 14px;
  margin-top: 20px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

.team_info {
  display: flex;
  margin-top: 10px;
}

.team_info .margin_left {
  margin-left: 20px;
}

.footer_addr {
  display: flex;
  margin-top: 10px;
}

.footer_addr .margin_left {
  margin-left: 20px;
}

.footer_terms {
  display: flex;
  margin-top: 20px;
}

.footer_terms .gray {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
  border-right: 1px solid darkgray;
  padding-right: 6px;
}

.footer_terms .margin_left {
  border-right: 1px solid darkgray;
  padding-right: 6px;
  margin-left: 8px;
}

.footer_last_text {
  margin-top: 20px;
  font-size: 15px;
  color: darkgray;
  line-height: 25px;
  padding-bottom: 15px;
}

#sns {
  width: 500px;
}

#sns ul {
  display: flex;
}

#sns li:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}

#sns a {
  padding: 25px 0px 0px 10px;
  border-radius: 25%;
}

#sns a:visited {
  color: rgb(99, 99, 99);
}

#sns a:hover {
  color: sandybrown;
}
