@charset "utf-8";

main {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

body {
  color: #000;
}

body,
input,
button,
textarea,
select {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

img {
  border-style: none;
  vertical-align: top;
  object-fit: cover;
}

img,
fieldset {
  border: 0;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "SUIT-Regular";
  padding: 0;
}

/*header 시작*/

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgb(255, 255, 255);
}

.item img {
  margin-top: 10px;
  width: 170px;
}

.first_section {
  width: 100%;
}

p {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

.header {
  display: flex;
  /*flex-direction: column;*/
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  background: unset;
}

.left_header {
  display: flex;
  width: 400px;
  position: relative;
  align-items: center;
  margin-right: 130px;
}

.left_header .item:nth-child(1) {
  margin-right: 23px;
}

.left_header .item2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; 
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 19px 0px 16px;
  margin: 0px 13px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 18px;
}

.left_header .item3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 18px;
}

.left_header a:visited {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 19px 0px;
  margin: 0px 13px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 25px;
}

.left_header .a_tag_color {
  color: rgb(106, 106, 106);
}

.right_header {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
}

.right_header i {
  font-size: 20px;
}

.right_header input {
  align-items: center;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(233, 233, 233);
  box-sizing: border-box;
  border-radius: 90px;
  height: 40px;
  width: 300px;
  padding: 13px 18px 13px 40px;
  text-indent: 3px;
  margin-bottom: 14px;
}

.searchBtn {
  position: absolute;
  top: 25px;
  left: 15px;
}

.right_header .item:nth-child(1) {
  margin-right: 20px;
  margin-top: 15px;
}

.right_header .login_a {
  flex-basis: 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  color: rgb(106, 106, 106);
  padding: 0 0 16px 0;
}

/* .right_header .item:nth-child(3) {
  } */

.bar {
  margin-right: 20px;
  width: 1px;
  color: black;
}

.right_header .join_a {
  color: rgb(37, 37, 37);
  flex-basis: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 0 0px 16px 0;
}

.header_write_btn {
  display: inline-block;
  background: rgb(0, 206, 124);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.left_header .a_tag_color {
  color: rgb(106, 106, 106);
}

.header_write_btn:hover {
  background: rgb(46, 156, 46);
  transition: all 0.3s ease-in-out;
}

.second_section {
  display: flex;
  width: 100%;
}

.second_header {
  display: flex;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  height: 62px;
}

.second_header .trip_info {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border-style: solid;
  border-color: rgb(37, 37, 37);
  border-image: initial;
  border-width: 0px 0px 3px;
  padding: 22px 14px 19px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.second_header .home {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.second_header .board {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  border: 0px solid rgb(106, 106, 106);
  padding: 22px 14px;
  color: rgb(106, 106, 106);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

/*header 종료*/

.CommunityView {
  padding-top: calc(140px);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 1200px;
  margin: 0px auto;
  position: relative;
  box-sizing: border-box;
  min-height: calc(100vh);
}

.Websection {
  position: relative;
  width: 1200px;
  margin: 0px auto;
}

.Websection > img:first-child {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  margin: 40px 0px;
}

.AccompanyId {
  padding: 70px 0px 250px;
  display: flex;

  justify-content: space-between;
}

.InnerSection_AreaLeft {
  max-width: 800px;
  width: 800px;
  margin-right: 80px;
}

.AccompanyContainer {
  margin-bottom: 65px;
}

.AccompanyContainer_TitleBox {
  display: flex;

  align-items: center;
}

.AccompanyContainer_TitleBox > p {
  width: 100%;
  overflow: hidden;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5em;
  text-overflow: ellipsis;
}

.AccompanyContainer_TopInfoBox {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}

.AccompanyContainer_FlexBox {
  display: flex;
  align-items: center;
}

.AccompanyContainer_FlexBox > p {
  color: rgb(106, 106, 106);
}

.AccompanyContainer_FlexBox > span {
  margin-left: 10px;
}

.AccompanyContainer_FlexMarginBox {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.AccompanyContainer_FlexMarginBox > p {
  color: rgb(106, 106, 106);
}

.AccompanyContainer_FlexMarginBox > span {
  margin-left: 10px;
}

.AccompanyContainer_MarginBox {
  margin-top: 10px;
}

.AccompanyContainer_TempWrap {
  margin: 24px 0px 30px;
}

.AccompanyContainer_TempWrap1 {
  display: flex;
  align-items: flex-start;
}

.AccompanyContainer_TempWrap1:first-child {
  margin-bottom: 10px;
}

.AccompanyContainer_TempWrap1 > p {
  margin-left: 10px;
}

.AccompanyContainer_TempWrap > div > p {
  font-size: 15px;
  color: rgb(37, 37, 37);
}

.AccompanyContainer_TempWrap1 > p > span {
  color: rgb(0 206 124);
}

.AccompanyContainer_ContentBox {
  margin-top: 31px;
  font-size: 15px;
  line-height: 1.5em;
  min-height: 100px;
  word-break: break-all;
  white-space: pre-wrap;
}

.badge_HashTag {
  margin: 100px 0px 0px;
}

.badge_HashTag > div {
  display: flex;
  width: max-content;
}

.badge_HashTag1 {
  margin: 10px 0px 0px;
}

.badge_HashTag1 > div {
  display: flex;
  width: max-content;
}

.badge_HashTag2 {
  display: flex;
  color: rgb(106, 106, 106);
  font-size: 13px;
  font-weight: 500;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  padding: 4px 7px;
}

.badge_HashTag2 > :nth-child(n + 2) {
  margin-left: 4px;
}

.AccompanyContainer_BottomBox {
  margin-top: 10px;
  font-size: 13px;
  color: rgb(154, 154, 154);
  display: flex;
}

.AccompanyContainer_ReportButton {
  font-size: 13px;
  color: rgb(154, 154, 154);
  text-decoration: underline;
}

.AccompanyContainer_BottomBox > :nth-child(n + 2) {
  margin-left: 10px;
}

.AccompanyContainer_InputBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.CommentInputBox {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 48px;
  line-height: 48px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.CommentInputBox_Input {
  display: block;
  overflow: auto;
  width: 85%;
  font-weight: 400;
  font-size: 13px;
  padding: 12px;
  outline: none;
  border: none;
}

.CommentInputBox_SubmitText {
  display: block;
  position: absolute;
  overflow: hidden;
  width: max-content;
  height: 100%;
  align-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0, 206, 124);
  padding: 0px 12px;
  right: 0px;
}

.AccompanyContainer_CommentContainer {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: flex-start;
  height: max-content;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 33px;
}

.AccompanyContainer_CommentInnerContainer {
  width: 100%;
  height: 100%;
}

.Comment_Wrapper {
  display: flex;
  position: relative;
  flex-flow: column;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px 15px 0px;
}

.Comment_ProfileContainer {
  display: flex;
  position: relative;
  flex-flow: row;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.Comment_UserImg {
  display: flex;
  position: relative;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}

.ShimmerImg {
  width: 100%;
  height: 100%;
}

.ShimmerImg1 {
  overflow: auto;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 0px;
  position: relative !important;
}

.ShimmerImg2 {
  position: relative !important;
}

.Comment_BioContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.Comment_Contents {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.24px;
  color: rgb(37, 37, 37);
  margin-top: 16px;
  white-space: pre-line;
  word-break: break-all;
}

.Comment_OptionContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: auto;
  width: 100%;
  margin-top: 8px;
}

.Comment_OptionMainContainer {
  display: flex;
  position: relative;
  height: auto;
  width: max-content;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.Comment_Reply {
  font-weight: 400;
  font-size: 12px;
  line-height: 17.76px;
  color: rgb(106, 106, 106);
  cursor: pointer;
}

.Comment_OptionLikeContainer {
  display: flex;
  position: relative;
  height: auto;
  width: max-content;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
}

.Comment_Like {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(106, 106, 106);
}

.InnerSection_AreaRight {
  width: 320px;
}

.Layout {
  border: 1px solid #e9e9e9;
  padding: 20px 19px;
  border-radius: 4px;
}

.Layout > :first-child {
  margin-top: 0px;
}

.Layout > :nth-child(n) {
  margin-top: 26px;
}

.Layout .Area_Top {
  display: flex;
  margin-bottom: 15px;
}

.Layout .Area_Top img {
  border-radius: 100%;
  object-fit: cover;
}

.Layout .Area_Top .Profile_info {
  margin: 7px 0px 0px 7px;
}

.Area_Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout .Profile_nickname {
  display: inline-block;
  width: 80px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 0px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Layout .Profile_Taste {
  margin-top: 5px;
  font-size: 13px;
  color: #6a6a6a;
}

.Layout .Area_Middle {
  border-top: 1px solid #e9e9e9;
  padding: 40px 0 0;
  margin: 0;
  min-height: unset;
}

.Profile_click {
  display: flex;
}

.ProfileCompanion {
  font-size: 14px;
  color: #252525;
  font-weight: bold;
  margin: 0px 0px 0px 6px;
  line-height: 18px;
}

.ButtonStyle {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 206, 124);
  width: -webkit-fill-available;
  height: 55px;
  border-radius: 4px;
  margin: 17px 0px 0px;
  cursor: pointer;
  transition: all 0.1s ease-out 0s;
}

.ButtonStyle a {
  color: rgb(255, 255, 255);
  display: inherit;
  font-weight: bold;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

button,
select {
  text-transform: none;
}

.modify {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 206, 124);
    width: 12%;
    height: 45px;
    border-radius: 4px;
    margin: 17px 0px 0px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
}

.delete {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 206, 124);
    width: 12%;
    margin-left: 50px;
    height: 45px;
    border-radius: 4px;
    margin: 17px 0px 0px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
}

/*footer 시작*/

footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 165px;
}

.footer_calling {
  display: flex;
  width: 100%;
}

.phone_number {
  margin-top: 20px;
  font-size: 17px;
  line-height: 22px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

footer button {
  margin-left: 13px;
  margin-top: 8px;
  border: 1px solid rgb(233, 233, 233);
  padding: 8px 10px 9px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(106, 106, 106);
}

.consulting {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-left: 14px;
  margin-top: 20px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
}

.team_info {
  display: flex;
  margin-top: 10px;
}

.team_info .margin_left {
  margin-left: 20px;
}

.footer_addr {
  display: flex;
  margin-top: 10px;
}

.footer_addr .margin_left {
  margin-left: 20px;
}

.footer_terms {
  display: flex;
  margin-top: 20px;
}

.footer_terms .gray {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(106, 106, 106) !important;
  font-weight: bold !important;
  border-right: 1px solid darkgray;
  padding-right: 6px;
}

.footer_terms .margin_left {
  border-right: 1px solid darkgray;
  padding-right: 6px;
  margin-left: 8px;
}

.footer_last_text {
  margin-top: 20px;
  font-size: 15px;
  color: darkgray;
  line-height: 25px;
  padding-bottom: 15px;
}

#sns {
  width: 500px;
}

#sns ul {
  display: flex;
}

#sns li:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}

#sns a {
  padding: 25px 0px 0px 10px;
  border-radius: 25%;
}

#sns a:visited {
  color: rgb(99, 99, 99);
}

#sns a:hover {
  color: sandybrown;
}
